#container {
  background-color: #2a2c2f;
  max-width: 360px;
  margin: 0 auto;
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Header {
  max-width: calc(100% - 16px * 2);
  /* margin: 20px auto 20px; */
}
.Header .score {
  position: fixed;
  background-color: #2a2c2f;
  width: 360px;
}
.Header .header__title {
  text-align: center;
  font-size: 20px;
  line-height: 1.4;
  margin: 0;
  padding-top: 70px;
}
