#container {
  background-color: #fff;
  max-width: 767px;
  margin: 0 auto;
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: #2a2c2f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Header {
  width: calc(100% - 16px);
  position: fixed;
  z-index: 1;
  background-color: #fff;
  padding: 10px;
  top: 0;
  border-bottom: 1px solid #e0a7e5;
  box-sizing: border-box;
}
.Header .header__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 5px;
}
.Header .header_logo {
  width: 1px;
  height: 1px;
  color: #2a2c2f;
  font-size: 1px;
}
.Header .header_logo_img {
  max-width: 40px;
  object-position: center;
  object-fit: cover;
}
.Header .logo {
  display: flex;
  cursor: pointer;
}
.Header .header__title {
  text-align: center;
  font-size: 20px;
  line-height: 1.4;
  margin: 0 0 5px;
  padding-top: 100px;
}
.Header .score {
  font-size: 10px;
}
.Header .header__heading {
  margin: 5px 0 5px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.25;
  text-align: center;
}
.Header .form__button {
  box-sizing: border-box;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  padding: 8px;
  display: block;
  margin: 0 5px;
  background-color: #fff;
  color: #2a2c2f;
  border: 3px #e0a7e5 solid;
  border-radius: 8px;
  cursor: pointer;
}
.Header .header_btn {
  display: flex;
}
.Header .header__links-list {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
}
.Header .header__social-icon {
  width: 24px;
  height: 24px;
  align-self: center;
}
.Header .menu_container {
  display: none;
}
.Header .menu_text {
  font-size: 32px;
  margin-left: 25px;
  color: #2a2c2f;
}
.Header .active {
  color: #737579;
}
.Header .header_burger {
  display: block;
  position: relative;
  z-index: 3;
  width: 30px;
  height: 22px;
  margin: 0;
  transition: 0.3s ease-in;
  cursor: pointer;
}
.Header .header_burger::before,
.Header .header_burger::after {
  content: "";
  height: 2px;
  background-color: #e0a7e5;
  position: absolute;
  width: 100%;
  left: 0;
}
.Header .header_burger::before {
  top: 0;
  transition: 0.3s;
}
.Header .header_burger::after {
  bottom: 0;
  transition: 0.3s;
}
.Header .header_burger span {
  height: 2px;
  background-color: #e0a7e5;
  position: absolute;
  width: 100%;
  left: 0;
  top: 10px;
  transition: 0.3s;
}
.Header .active_burger {
  left: 0px;
  transition: 0.3s ease-in;
}
.Header .active_burger_burger span {
  transform: rotate(90deg);
  top: 20px;
  left: -9px;
  transition: 0.3s;
}
.Header .active_burger_burger::before {
  transform: rotate(90deg);
  left: -19px;
  top: 20px;
  transition: 0.3s;
}
.Header .active_burger_burger::after {
  transform: rotate(90deg);
  left: 1px;
  top: 20px;
  transition: 0.3s;
}
.lock {
  overflow: hidden;
  background: rgba(41, 41, 41, 0.6);
  transition: 0.3s ease-in;
}
.pagination {
  display: flex;
}
.btn_pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  width: 40px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  cursor: pointer;
}
.fireworks-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  z-index: 0;
}

@media (min-width: 767px) {
  #container {
    min-width: 743px;
  }
  .Header {
    width: 100%;
    position: sticky;
  }
  .Header .header__info {
    justify-content: unset;
  }
  .Header .header_burger {
    display: none;
  }
  .Header .menu_container {
    display: flex;
  }
}
