.content {
  max-width: calc(100% - 16px * 2);
  margin: 0 auto;
}
.Main {
  margin-top: 90px;
  text-align: center;
  line-height: 1.4;
}
.Main .header__title {
  margin: 0 0 5px;
}
.Main .description__image {
  max-width: 60%;
}
.Main .description__text {
  padding: 0 0 0 20px;
  margin: 0;
  list-style-type: none;
}
.Main .description__text-item {
  margin: 0 0 10px;
  font-size: 14px;
  line-height: 1.4;
}
.Main .description__title {
  font-size: 18px;
  line-height: 1.25;
  margin: 15px auto 10px;
}
.Main .puzzle {
  margin: 0 auto 20px;
}
.Main .puzzle__number {
  font-size: 18px;
  font-weight: 900;
  margin: 25px auto 15px;
}
.Main .puzzle__text {
  margin: 10px 0;
  font-size: 16px;
  line-height: 1.4;
}
.Main .form {
  max-width: 100%;
  margin: 0 0 25px;
  padding: 0;
}
.Main .form__label {
  display: block;
  font-size: 16px;
  font-weight: 700;
  margin: 20px 0 10px;
}
.Main .form__field {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;
  margin: 0px 0 15px;
  padding: 14px 5px;
  color: black;
  font-size: 17px;
  border-radius: 8px;
  border-color: #e0a7e5;
}
.Main .form__button-container {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
}
.Main .form__button {
  box-sizing: border-box;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  padding: 8px;
  display: block;
  margin: 0;
  background-color: #fff;
  color: #2a2c2f;
  border: 3px #e0a7e5 solid;
  border-radius: 8px;
  cursor: pointer;
}
.Main .correct-answer-board__text {
  font-size: 16px;
  color: white;
  line-height: 1.25;
  padding: 5px;
}
.Main .board {
  background-color: #fff;
  padding: 4px 6px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.Main .board__span-accent {
  font-size: 14px;
  line-height: 1.25;
  font-weight: 700;
  padding-right: 5px;
}
.Main .board__answer_text {
  transform: rotate(180deg);
  font-style: italic;
}
.Main .puzzle__image {
  width: 80%;
  display: flex;
  margin: 0 auto;
}

@media (min-width: 767px) {
  .Main {
    margin-top: 10px;
  }
  .Main .puzzle__image {
    width: 40%;
  }
  .Main .form {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  .Main .form__field {
    width: 50%;
    padding: 10px 5px;
  }
}
