.Item {
  border: solid rgba(128, 128, 128, 0.171) 3px;
  padding: 3px 7px;
  width: 100%;
}

.Item .NameItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  padding: 10px 0;
  font-weight: bold;
  text-transform: capitalize;
}

.Item .NameItem .Price {
  text-align: right;
}

.Item .NameItem .Quantity {
  margin-left: 20px;
}
.Item .NameItem .Img {
  width: 100px;
  height: 100px;
}
