.IshopComponent {
  border: double gray 3px;
  padding: 3px 7px;
  background-color: #f0f0f0;
}

.IshopComponent .NameIshop {
  text-align: center;
  padding-top: 5px;
}

.IshopComponent .Goods .good {
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: solid;
  padding: 10px 0;
}
.IshopComponent .Goods .Good {
  font-weight: bold;
  text-transform: capitalize;
}
.IshopComponent .Goods .Price {
  font-weight: bold;
  text-align: right;
}

.IshopComponent .Goods .Quantity {
  margin-left: 20px;
}
.IshopComponent .Goods .img {
  width: 100px;
  height: 100px;
}
