.Item {
  border: double gray 3px;
  padding: 3px 7px;
}

.Item .NameIshop {
  text-align: center;
  padding-top: 5px;
}

.Item .Items {
  background-color: gray;
  border-top: solid;
  padding: 10px 0;
}
.Item .Items .Item {
  font-weight: bold;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Item .Items .Item .Price {
  text-align: right;
}

.Item .Items .Item .Quantity {
  margin-left: 20px;
}
.Item .Items .Item .Img {
  width: 100px;
  height: 100px;
}
